@charset "UTF-8";
/* CSS Document */
/* Colors: 
green: #4d420c
brown: #964026
skin: #edc3ad
yellow: #f8a353
white:#f9e0da */
body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
	background:#edc3ad;
	
	
}


.pricing-header {
  max-width: 700px;
	
}

body{
	 font-family: 'Buenard', serif;
	
}

.logo {background: #edc3ad;	
}
.logo img {
	width: 200px
		
}
nav {
	background:#f9e0da
		
}
.nav-link {
	color:#4d420c
	
}
.nav-link:hover {
	color: #964026
}
.navbar-toggler-icon {
	background-image: url("../images/navigation.jpg")
}
.navbar-brand {
	color:#4d420c
}
.btn {
	color:#4d420c
}
.my-container {color: #4B4317;
    border: 1.8px solid #8B452D;
    background: #edc3ad;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;
	
	

}

.my-container {color: #4B4317;
    border: 1.8px solid #8B452D;
    background: #edc3ad;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;
}

.button {
	color:#edc3ad;
	border: 1.8px solid #8B452D;
	padding: 3px;
	background:#8B452D;
}



