@charset "UTF-8";
/* CSS Document */
/* Colors: 
green: #4d420c
brown: #964026
skin: #edc3ad
yellow: #f8a353
white:#f9e0da */
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body{
	font-family: 'Lora', serif;
}

.logo {background: #edc3ad;	
}
.logo img {
	width: 200px
		
}
nav {
	background:#f9e0da
		
}
.nav-link {
	color:#4d420c
	
}
.nav-link:hover {
	color: #964026
}
.navbar-toggler-icon {
	background-image: url("../images/navigation.jpg")
}
.navbar-brand {
	color:#4d420c
}
.btn {
	color:#4d420c
}
.my-container2 {
	color: #4B4317;
    border: 1.8px solid #8B452D;
    background: #edc3ad;
    text-align: center;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;
	padding: 10px;
}

.my-container {
	 background: #edc3ad;
	 margin: 0px;
}

.button {
	color:#4d420c;
	border: 1.8px solid #8B452D;
	padding: 4px;
}

.button2 {
	border: 1.8px solid #EDC3AD;
	padding: 5px;
	color:#EDC3AD;
	text-align: center;
}

.form-signin {
    background: #8B452D;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
    text-align: center;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;
	color:#EDC3AD;
	padding: 40px;
}

.form-control {
	border: 1.8px solid #EDC3AD;
}



