@charset "UTF-8";
/* CSS Document */
/* Colors: 
green: #4d420c
brown: #964026
skin: #edc3ad
yellow: #f8a353
white:#f9e0da */
body{
	font-family: 'Lora', serif;
}

.logo {background: #edc3ad;	
}
.logo img {
	width: 200px
		
}
nav {
	background:#f9e0da
		
}
.nav-link {
	color:#4d420c
	
}
.nav-link:hover {
	color: #964026
}
.navbar-toggler-icon {
	background-image: url("../images/navigation.jpg")
}
.navbar-brand {
	color:#4d420c
}
.btn {
	color:#4d420c
}
.my-container {
	color: #4B4317;
    border: 1.8px solid #8B452D;
    background: #edc3ad;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;

}

.button {
	color:#4d420c;
	border: 1.8px solid #8B452D;
	padding: 4px;
}

.button2 {
	border: 1.8px solid #EDC3AD;
	padding: 5px;
	color:#EDC3AD;
	text-align: center;
}

.form-signin {
	 border: 1.8px solid #4D420D;
    background: #954026;
    text-align: center;
    font-family: 'Buenard', serif;
    font-size: x-large;
    font-weight: 400;
	margin: 20px;
	color:#EDC3AD;
	padding: 15px;
}

.form-control {
	border: 1.8px solid #EDC3AD;
}



